{% extends "base.html" %}
{% load static %}



{% block title %}Register{% endblock title %}

{% block icerik %}

<div class="container mt-3">
    <div class="col">
        <h1 class="baslik">Giriş Ekranı</h1>
        <hr>

        <form method="POST">
            {% csrf_token %}
            {% if error %}
                <div class = "alert alert-danger">
                    {{error}}
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="username" class="form-label baslik">Kullanıcı Adı</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label baslik">E-mail</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="firstname" class="form-label baslik">Ad</label>
                    <input type="text" class="form-control" name="firstname">
                </div>
                <div class="col">
                    <label for="lastname" class="form-label baslik">Soyad</label>
                    <input type="text" class="form-control" name="lastname">
                </div>
            </div>
            <div class="row mb-3" >
                <div class="col">
                    <label for="password" class="form-label baslik">Şifre</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="col">
                    <label for="repassword" class="form-label baslik">Şifre Tekrar</label>
                    <input type="password" class="form-control" name="repassword">
                </div>
            </div>
            <input type="submit" value="Kayıt Ol" class="btn btn-secondary">
        </form>
    </div>

</div>

{% endblock icerik %}
{% block icerik2 %}


    
{% endblock icerik2 %}

