body{
    background-color: rgb(53, 49, 49);
}



.baslik { 
    color:  rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;

}

.form-select {
    background-color: rgb(64, 72, 75);
    color: rgb(255, 255, 255);

}

#container {
    width: 90%;



}





@media (max-width: 768px) {
   
    #anasayfa_card{
        width: 47%;
    }
    #account_yorumlanan_filmler{
        width: 100%;
    }

    #iframe{
        width:90%;
        height: 200px;

    }
    
}
@media (min-width: 768px) {
   
    #anasayfa_card{
        width: 30%;
    }
    #account_yorumlanan_filmler{
        width: 40%;
    }
    
 
    
}
