{% load static %}
<h1 style="text-aling:center" class="baslik" >Vizyondakiler</h1>
<hr>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">   
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            {% for movie in now_playing_movies %}    
                {% if forloop.counter <= 7 %}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{forloop.counter}}" aria-label="Slide {{forloop.counter}}"></button>
                {% endif %}      
            {% endfor %}    
        </div>
        <div class="carousel-inner">
            {% for movie in now_playing_movies %}
                {% if forloop.counter <= 1 %}
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                        <div class="col-md-4 col-12">
                                            <img src="{{movie.backdrop_path}}" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8 col-12">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ movie.title }}</h5>                             
                                                <p class="card-text">{{ movie.overview|striptags|slice:"0:50"}}...</p>
                                                <a href="{% url 'film_detail' movie.movie_id %}" class="btn btn-secondary">Filme Git</a> 
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}           
            {% for movie in now_playing_movies %}
                {% if forloop.counter >= 14 %}
                    <div class="carousel-item ">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4 col-12">
                                        <img src="{{movie.backdrop_path}}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ movie.title }}</h5>                                        
                                            <p class="card-text">{{ movie.overview|striptags|slice:"0:50"}}...</p>
                                            <a href="{% url 'film_detail' movie.movie_id %}" class="btn btn-secondary">Filme Git</a>                                      
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>       
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>   
</div>

